@font-face {
    font-family: 'Darker Grotesque Regular';
    src: url(/assets/fonts/DarkerGrotesque-Regular.ttf);
}
body{
    
    overflow: hidden; 
    cursor: crosshair;
    margin: 0;
    padding: 0;
}
canvas {
    background-color: #cacaca; 
    position: absolute; 
    left: 0; 
    top:0;}

.who{background-color: white; 
    border-radius: 27px;  
    width: 200px; 
    height: 45px;
    position: absolute;
    bottom:50px;
    right: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 900;
    /* cursor: none; */
    transition:  ease 0.2s;
    overflow: scroll;

    }
    .open{
      height : 520px;
      width : 500px;
      transition:  ease 0.2s;
    }
    .display{display: block !important;}
    p, h1, button{
      color: #242424; 
      font-family: 'Darker Grotesque Regular'; 
      font-size: 24px; 
    line-height: 1.3rem; margin: 2rem;
    font-weight: 400;
  }
  span{
    font-family: 'Darker Grotesque Regular'; 
    color: #242424; 
    font-size: 24px; 
    text-align: center; 
    padding-top: 2px
  }
  
  .noise-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    
  }
  .noise-bg:before {
    position: absolute;
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    animation: noise 1s steps(2) infinite;
    background: url(https://i.loli.net/2020/10/21/S92bRTHIkszBcLr.png) 50%;
    pointer-events: none;
  }
  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }
  
  .wrap{overflow: hidden;}
  .comparsa{
    background: rgb(29, 29, 29) ; 
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.6s ease;
  }
  .show{
    transform: translateX(0);
  }
  .container{
    /* width: 500px;
    height: 500px; */
    border-radius: 50%;
    background: radial-gradient(circle, rgba(239, 239,239,1) 69%, rgba(203,255,205,1) 55%); 
    overflow: scroll;
    display: flex;
    justify-content: center;
    
  }
  .text-box{
    margin:50px;
     height: 150vh;
     display: flex;
     flex-direction: column;
    }
  .comparsa::-webkit-scrollbar, .who::-webkit-scrollbar, .container::-webkit-scrollbar, .body::-webkit-scrollbar, .porto::-webkit-scrollbar{display: none;}
  p:nth-child(3){
   text-align: end;
  }
  button{border: none;       
        padding: 0;
        margin: 0;
        /* text-align: end; */
        color: #292929;
        animation: trigger 1s steps(2) infinite;
      }
  button:hover{font-weight: 600;}

      @keyframes trigger {
        0% {
          color:rgb(29, 29, 29);
          position: relative;
          right: 1px;
        }
        20% {
          color: rgb(38, 255, 0);
          position: relative;
          bottom: 1px;
        }
        30% {
          color: rgb(152, 152, 152);
        }
        40% {
          color: rgb(15, 15, 15);
          position: relative;
          left: 1px;
        }
        50% {
          color: rgb(38, 255, 0);
        }
        60% {
          color: rgb(236, 236, 236);
          position: relative;
          right: 1px;
        }
        70% {
          color: rgb(37, 37, 37);
          position: relative;
          top: 1px;
        }
        60% {
          color: rgb(108, 106, 106);
        }

      }


/* ------------------------------------------------------ portfolio ----------------------------------------------------------------------------- */
.porto{overflow: scroll ;}
.porto-container{
  height: 200vh;
  width: 200vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(25vw, 1fr));
  column-gap: 5%;
  row-gap: 5%;
  background-color: #292929;
  position: relative;
  
  padding: 5%;
}
.el{
  background-color: aqua;
  height: 25vw;
  width: 25vw;
}
.el:nth-child(odd){
  background-color: red;
}