@font-face {
    font-family: 'Darker Grotesque Regular';
    src: url(/assets/fonts/DarkerGrotesque-Regular.ttf);
}
body{
    background-color: rgb(29, 29, 29); 
    overflow: hidden; 
    cursor: crosshair;
}
canvas {
    background-color: #cacaca; 
    position: absolute; 
    left: 0; 
    top:0;}

.who{background-color: white; 
    border-radius: 27px;  
    width: 200px; 
    height: 45px;
    position: relative;
    top:691px;
    left: 1430px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 900;
    cursor: none;
    transition:  ease 0.2s;
    overflow: scroll;

    }
.who::-webkit-scrollbar{display: none;}
    .open{
        height : 520px;
        width : 500px;
        transition:  ease 0.2s;
    }
    .display{display: block !important;}
p{
    font-family: 'Darker Grotesque Regular'; 
    color: #242424; font-size: 24px; 
    line-height: 1.3rem; margin: 2rem;
}
span{
    font-family: 'Darker Grotesque Regular'; 
    color: #242424; 
    font-size: 24px; 
    text-align: center; 
    padding-top: 2px
}

.noise-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

  }
  .noise-bg:before {
    position: absolute;
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    animation: noise 1s steps(2) infinite;
    background: url(https://i.loli.net/2020/10/21/S92bRTHIkszBcLr.png) 50%;
    pointer-events: none;
  }
  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }
  
