header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    
    width: 100%;
    z-index: 1000;
    ul{
        display: flex;
        text-align: end;
        text-transform: uppercase;
        // width: 100px;
    }
}
